/* Style Guide */
/* Dark blue: 11122b */
/* Yellow: cea135 */
/* Off white: cbcbcb */

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}

/* Footer */
.footer {
  background-color: #11122b;
  color: #cbcbcb;
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-top: -4px;
}

.footer > .logo-footer img {
  width: 250px;
  height: 100%;
  /* filter: brightness(50%); */
  opacity: 0.5;
}

.footer > .footer-phone-hours span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.footer > .footer-phone-hours > .hours {
  font-size: 0.8em;
  color: #cea135;
}

.footer > .links-wrapper {
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > .links-wrapper > .nav-link a {
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.footer > .links-wrapper > .nav-link a:hover {
  color: #cea135;
}

.footer > .social-media-icons-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
  font-size: 1.5em;
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
  color: #cea135;
}

/* skewed header */

.skewed-header {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.skewed-header > .header-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skewed-header
  > .skewed-header-wrapper
  > .skewed-header-content
  > .links-wrapper {
  display: flex;
}

.skewed-header
  > .skewed-header-wrapper
  > .skewed-header-content
  > .links-wrapper
  > .nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

.skewed-header
  > .skewed-header-wrapper
  > .skewed-header-content
  > .heading-wrapper {
  background-color: #cea135;
  color: #11122b;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 175px;
  padding: 10px;
  text-align: center;
}

/* page containers */

.page-container {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 1000px;
}

.content-wrapper > #chef {
  margin: 25px 40px 30px 0px;
  width: 350px;
  float: left;
  border: 1px solid #cea135;
}

.content-wrapper > p {
  line-height: 30px;
  letter-spacing: 1px;
}

/* squares */

.squares-wrapper {
  display: flex;
  justify-content: center;
}

.squares {
  width: 1000px;
}

.square {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -4px;
}

.square > .img-wrapper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.square > .square-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 42px;
}

.square > .square-text-wrapper h1 {
  color: #cea135;
}

/* helpers */

.spacer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dark-bg {
  background-color: #11122b;
  color: #cbcbcb;
}

.phone a {
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.phone a:hover {
  color: #cea135;
  text-decoration: none;
}

.anchor {
  text-decoration: none;
  outline: none;
}
