/* Hero */
.hero-section {
  background-image: url(../images/backgrounds/fries-hero-bg.jpg);
  padding: 100px;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section > .top-heading {
  padding: 1px 20px;
  background-color: #11122b;
  color: #cbcbcb;
  width: 290px;
}

.hero-section > .bottom-heading {
  background-color: #cea135;
  color: #11122b;
  padding: 1px 20px;
  margin-top: 15px;
  width: 107px;
}

/* Features */
.features-section {
  height: 400px;
  background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
  background-color: #cea135;
  color: #11122b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-section > .columns-wrapper {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
  padding: 20px;
  margin: 42px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
  border: 2px solid #11122b;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
  font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
  font-size: 1.5em;
  font-weight: 900;
  height: 50px;
}
