@media (max-width: 48em) {
  .navigation-wrapper {
    flex-direction: column;
    height: 100%;
  }

  .navigation-wrapper > .left-column {
    order: 2;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navigation-wrapper > .center-column {
    width: 100%;
    order: 1;
  }

  .navigation-wrapper > .center-column > .banner-logo img {
    width: 100%;
    height: 100%;
  }

  .navigation-wrapper > .right-column {
    order: 3;
    margin-top: 15px;
  }

  .links-wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .links-wrapper > .nav-link {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 100%;
  }

  .hero-section {
    padding: 50px 10px;
  }

  .features-section {
    height: 100%;
  }

  .features-section > .columns-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    height: 100%;
  }
}
