/* Common nav styles */
.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      -135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      -45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 0.75rem 0.75rem, 0.75rem 0.75rem, 0.75rem 0.75rem,
    0.75rem 0.75rem, 100% 1rem, 100% 1rem;
  background-position: top center, top center, bottom center, bottom center,
    top center, bottom center;
  background-repeat: repeat-x;
}

/* Left column styles */
.navigation-wrapper > .left-column {
  display: flex;
  align-items: center;
}

.navigation-wrapper > .left-column > .icon {
  margin-right: 15px;
}

.navigation-wrapper > .left-column > .icon i {
  font-size: 2em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
  font-size: 0.8em;
  color: #858585;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", sans-serif;
}

/* Center column styles */

.navigation-wrapper > .center-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 42px;
  width: 500px;
}

.navigation-wrapper > .center-column > .banner-logo {
  display: flex;
  justify-content: center;
}

.navigation-wrapper > .center-column > .banner-logo img {
  width: 250px;
  height: 100%;
}

.navigation-wrapper > .center-column > .links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-link a {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #cbcbcb;
  text-decoration: none;
  transition: 0.5s;
}

.navigation-wrapper > .center-column > .links-wrapper > .nav-link a:hover {
  color: #cea135;
}

/* right column styles */
.navigation-wrapper > .right-column {
  display: flex;
  align-items: center;
}

.navigation-wrapper > .right-column > .cart-details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: right;
}

.navigation-wrapper > .right-column > .cart-details-wrapper > .cart-link a {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #858585;
  text-decoration: none;
  transition: 0.5s;
  font-size: 0.9em;
}

.navigation-wrapper
  > .right-column
  > .cart-details-wrapper
  > .cart-link
  a:hover {
  color: #cea135;
}

.navigation-wrapper > .right-column > .cart-icon-wrapper {
  margin-left: 15px;
  font-size: 2em;
}

.navigation-wrapper > .right-column > .cart-icon-wrapper a {
  color: #cbcbcb;
  transition: 0.5s;
}

.navigation-wrapper > .right-column > .cart-icon-wrapper a:hover {
  color: #cea135;
}
